# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit crops / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
/trOCR/data/
/trOCR/trocr-checkpoint/
/trOCR/trocr-fine-tuned-ita/
/trOCR/debug_images/
/trOCR/data/
/Qwen/data/
/Qwen/test/
/Qwen/inferenze/
Qwen/data/crops/0150.png
Qwen/data/crops/0149.png
Qwen/data/crops/0148.png
Qwen/data/crops/0147.png
Qwen/data/crops/0146.png
Qwen/data/crops/0145.png
Qwen/data/crops/0144.png
Qwen/data/crops/0143.png
Qwen/data/crops/0142.png
Qwen/data/crops/0141.png
Qwen/data/crops/0140.png
Qwen/data/crops/0139.png
Qwen/data/crops/0138.png
Qwen/data/crops/0137.png
Qwen/data/crops/0136.png
Qwen/data/crops/0135.png
Qwen/data/crops/0134.png
Qwen/data/crops/0133.png
Qwen/data/crops/0132.png
Qwen/data/crops/0131.png
Qwen/data/crops/0130.png
Qwen/data/crops/0129.png
Qwen/data/crops/0128.png
Qwen/data/crops/0127.png
Qwen/data/crops/0126.png
Qwen/data/crops/0125.png
Qwen/data/crops/0124.png
Qwen/data/crops/0123.png
Qwen/data/crops/0122.png
Qwen/data/crops/0121.png
Qwen/data/crops/0120.png
Qwen/data/crops/0119.png
Qwen/data/crops/0118.png
Qwen/data/crops/0117.png
Qwen/data/crops/0116.png
Qwen/data/crops/0115.png
Qwen/data/crops/0114.png
Qwen/data/crops/0113.png
Qwen/data/crops/0112.png
Qwen/data/crops/0111.png
Qwen/data/crops/0110.png
Qwen/data/crops/0109.png
Qwen/data/crops/0108.png
Qwen/data/crops/0107.png
Qwen/data/crops/0106.png
Qwen/data/crops/0105.png
Qwen/data/crops/0104.png
Qwen/data/crops/0103.png
Qwen/data/crops/0102.png
Qwen/data/crops/0101.png
Qwen/data/crops/0100.png
Qwen/data/crops/0099.png
Qwen/data/crops/0098.png
Qwen/data/crops/0097.png
Qwen/data/crops/0096.png
Qwen/data/crops/0095.png
Qwen/data/crops/0094.png
Qwen/data/crops/0093.png
Qwen/data/crops/0092.png
Qwen/data/crops/0091.png
Qwen/data/crops/0090.png
Qwen/data/crops/0089.png
Qwen/data/crops/0088.png
Qwen/data/crops/0087.png
Qwen/data/crops/0086.png
Qwen/data/crops/0085.png
Qwen/data/crops/0084.png
Qwen/data/crops/0083.png
Qwen/data/crops/0082.png
Qwen/data/crops/0081.png
Qwen/data/crops/0080.png
Qwen/data/crops/0079.png
Qwen/data/crops/0078.png
Qwen/data/crops/0077.png
Qwen/data/crops/0076.png
Qwen/data/crops/0075.png
Qwen/data/crops/0074.png
Qwen/data/crops/0073.png
Qwen/data/crops/0072.png
Qwen/data/crops/0071.png
Qwen/data/crops/0070.png
Qwen/data/crops/0069.png
Qwen/data/crops/0068.png
Qwen/data/crops/0067.png
Qwen/data/crops/0066.png
Qwen/data/crops/0065.png
Qwen/data/crops/0064.png
Qwen/data/crops/0063.png
Qwen/data/crops/0062.png
Qwen/data/crops/0061.png
Qwen/data/crops/0060.png
Qwen/data/crops/0059.png
Qwen/data/crops/0058.png
Qwen/data/crops/0057.png
Qwen/data/crops/0056.png
Qwen/data/crops/0055.png
Qwen/data/crops/0054.png
Qwen/data/crops/0053.png
Qwen/data/crops/0052.png
Qwen/data/crops/0051.png
Qwen/data/crops/0050.png
Qwen/data/crops/0049.png
Qwen/data/crops/0048.png
Qwen/data/crops/0047.png
Qwen/data/crops/0046.png
Qwen/data/crops/0045.png
Qwen/data/crops/0044.png
Qwen/data/crops/0043.png
Qwen/data/crops/0042.png
Qwen/data/crops/0041.png
Qwen/data/crops/0040.png
Qwen/data/crops/0039.png
Qwen/data/crops/0038.png
Qwen/data/crops/0037.png
Qwen/data/crops/0036.png
Qwen/data/crops/0035.png
Qwen/data/crops/0034.png
Qwen/data/crops/0033.png
Qwen/data/crops/0032.png
Qwen/data/crops/0031.png
Qwen/data/crops/0030.png
Qwen/data/crops/0029.png
Qwen/data/crops/0028.png
Qwen/data/crops/0027.png
Qwen/data/crops/0026.png
Qwen/data/crops/0025.png
Qwen/data/crops/0024.png
Qwen/data/crops/0023.png
Qwen/data/crops/0022.png
Qwen/data/crops/0021.png
Qwen/data/crops/0020.png
Qwen/data/crops/0019.png
Qwen/data/crops/0018.png
Qwen/data/crops/0017.png
Qwen/data/crops/0016.png
Qwen/data/crops/0015.png
Qwen/data/crops/0014.png
Qwen/data/crops/0013.png
Qwen/data/crops/0012.png
Qwen/data/crops/0011.png
Qwen/data/crops/0010.png
Qwen/data/crops/0009.png
Qwen/data/crops/0008.png
Qwen/data/crops/0007.png
Qwen/data/crops/0006.png
Qwen/data/crops/0005.png
Qwen/data/crops/0004.png
Qwen/data/crops/0003.png
Qwen/data/crops/0002.png
Qwen/data/crops/0001.png
/Qwen/outputs/
/Qwen/qwen_fine_tuned/
